h1, h2, h3, h4, h5, h6 { font-family: 'Righteous','Helvetica Neue',Helvetica,Arial,cursive,sans-serif; }


header {
	background-image: url('../img/patterntriangle03tint_CC2A41.svg');
}

.logo {
	fill: currentColor;
	color: white;
}
.bg-pink{
	background-color: #CC2A41;	
}
